@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #363636;
$scheme-invert: #000000;
$secondary: #f9d56e;
$secondary-light: #8559da;
$secondary-dark: #cd4439;
$primary-light: #f7dead;
$primary-dark: #102027;
$primary: $secondary;

$info: $primary-dark;
$light: #f7dead;
$dark: #f7dead;
$black: #72b896;
//cards
$card-shadow: 0px 2px 4px rgba(0, 0, 0, 0.68);
.gradient-dark {
  background: linear-gradient(120deg, $black, $secondary);
}
//padding helpers
.margin-top-2em {
  margin-top: 2em;
}
.margin-bottom-2em {
  margin-bottom: 2em;
}
.padding-top-4em {
  padding-top: 4em;
}
.has-no-underline {
  text-decoration: none;
}
//import bulma
@import "~bulma/bulma.sass";
.no-outline {
  border-color: #dbdbdb00;
}
.is-shady {
  animation: flyintoright 0.4s backwards;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}

.is-curved-top {
  border-radius: 4px 4px 0px 0px;
}
.has-shadow {
  box-shadow: $card-shadow;
}

.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro {
  padding: 5rem 0;
  text-align: center;
}
.has-no-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0) !important;
}

.has-no-background {
  background-color: #ffffff00;
}

.card-equal-wh {
  height: 100%;
  width: 95%;
}

.card-100-width {
  width: 99%;
}

.c-text-shadow {
  text-shadow: 1px 1px 2px #4c4c4c;
}
.subsubtitle {
  margin-top: -1.25rem;
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

.is-shady-nav {
  animation: flyintoright 0.4s backwards;
  border-radius: 4px;
  // display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
  color: white;
}
.is-shady-nav:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
  background-color: $light !important;
  color: white !important;
}

@media screen and (max-width: 1024px) {
  .is-shady-nav {
    color: $black;
  }
}

// .purple-nav:hover {
//    background-color: $primary-light !important;
//    color: white !important;
// }

// .dark-nav:hover {
//    background-color: $black !important;
//    color: white !important;
// }

.nav-active {
  background-color: $secondary;
  color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.13),
    inset 0px 0.5px 3px 0.1px rgba(0, 0, 0, 0.19);
}

.social-icons {
  font-size: 3em;

  ul {
    text-align: center;
    margin-bottom: 30px;
    padding: 0;
    li {
      display: inline-block;
      a {
        svg {
          color: #fff;
          &:hover {
            color: $secondary-light;
          }
        }
      }
    }
    li:not(:last-child) {
      margin-right: 40px;
    }
  }
}
.blog-post-content {
  h2 {
    font-size: 2em;
    margin: 0.7em 0em 0.4em 0em;
    color: darkcyan;
  }
  p {
    margin-left: 0.75em;
    margin-bottom: 0.2em;
  }
  strong {
    color: steelblue;
  }
  img {
    min-width: 100%;
    border-radius: 1em;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: -0.43em;
  }
}
// .gatsby-highlight-code-line {
//   background-color: #feb;
//   display: block;
//   margin-right: -1em;
//   margin-left: -1em;
//   padding-right: 1em;
//   padding-left: 0.75em;
//   border-left: 0.25em solid #f99;
// }

/**
 * If you already use line highlighting
 */

// /* Adjust the position of the line numbers */
// .gatsby-highlight pre[class*="language-"].line-numbers {
//   padding-left: 2.8em;
// }

/**
 * If you only want to use line numbering
 */

.gatsby-highlight {
  background-color: #2d2d2d;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}

.number {
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  display: inline-flex;
  font-size: 1.25rem;
  height: 2em;
  justify-content: center;
  margin-right: 0;
  min-width: 0;
  padding: 0 0 0 0;
  text-align: center;
  vertical-align: center;
  padding-bottom: 0.3em;
}





h1.post-title {
  visibility: hidden;
  width: 0;
  height: 0;
}

.ribbon {
  font-size: 20px !important;
  text-transform: uppercase;
  width: 50%;
  position: relative;
  background: #cd4439;
  color: #fff;
  text-align: center;
  padding-left:2em;
  margin-top: .5em;

  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}

.ribbon:after,
.ribbon:before {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #cd4439;
  z-index: -1;
}

.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}

.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}

.ribbon .ribbon-inner:after,
.ribbon .ribbon-inner:before {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #f9d56e transparent transparent;
  bottom: -1em
}

.ribbon .ribbon-inner:before {
  left: 0;
  border-width: 1em 0 0 1em;
}

.ribbon .ribbon-inner:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

.navbar {
  background-color: #fff0;
  padding: 0em;
}



.diagonal-box {
  position: relative;
}

.diagonal-box {
	background-image: linear-gradient(45deg, #654ea3, #eaafc8);
  transform: skewY(-11deg);
  transform: skewX(-11deg);
  // max-width: 20%;
  // min-height: 20%;
  height: 40em;
  animation: flyintoright 0.4s backwards;

  transition: all 0.2s ease-in-out;
}
.diagonal-box:hover {
  box-shadow: 15px 20px 13px 13px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}

.content-box {
//  max-width: 50em;
   margin: 0 auto;
   transform: skewY(11deg);
   transform: skewX(0deg);
   margin-left: .3em;
   word-wrap: break-word;
}
.turtle{
  transform: skewX(11deg);
  position: relative;
  animation: flyintoright 0.4s backwards;

  transition: all 0.2s ease-in-out;

}

